<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.railmind.user.mapper.UserMapper">

    <select id="selectByPhone" resultType="com.railmind.user.domain.model.User">
        SELECT * FROM t_user WHERE phone = #{phone} AND deleted = 0
    </select>

    <select id="selectByUsername" resultType="com.railmind.user.domain.model.User">
        SELECT * FROM t_user WHERE username = #{username} AND deleted = 0
    </select>

    <select id="selectByPhoneAndDeleted" resultType="com.railmind.user.domain.model.User">
        SELECT * FROM t_user WHERE phone = #{phone} AND deleted = #{deleted}
    </select>

    <select id="selectByUsernameAndDeleted" resultType="com.railmind.user.domain.model.User">
        SELECT * FROM t_user WHERE username = #{username} AND deleted = #{deleted}
    </select>

    <select id="countByPhone" resultType="int">
        SELECT COUNT(*) FROM t_user WHERE phone = #{phone} AND deleted = 0
    </select>

    <select id="countByUsername" resultType="int">
        SELECT COUNT(*) FROM t_user WHERE username = #{username} AND deleted = 0
    </select>

</mapper>
